body, body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#secProd, #secCarrito{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.titulo {
    display: flex;
    justify-content: space-between;
}

.titulo select {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 2px;
    min-width: calc(20%);
    margin-right: 5px;
}

#productos {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.producto{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid rgba(0, 0,0, 0.5);
    border-radius: 16px;
    gap: 16px;
    width: calc(25% - 16px);
    align-self: stretch;
    justify-content: space-between;
}

.producto img {
    max-height: 80px;
    object-fit: contain;
}

.precio, .sale {
    font-size: 20px;
    font-weight: bold;
}

.sale {
    color: green;
}

.pAnterior{
    color: gray;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: normal;
}

.sku {
    margin-top: -10px;
    font-size: 12px;
    font-weight: 300;
}

.addToCart {
    border: none;
    padding: 12px;
    background-color: orange;
    color: black;
    font-weight: bold;
    border-radius: 4px;
}

.addToCart:hover {
    background-color: rgb(255, 127, 7);
    cursor: pointer;
}


.producto-carrito * {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.producto-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: antiquewhite;
    border: 1px solid black;
}

.producto-carrito img {
    height: 50px;
}

.producto-carrito button {
    padding: 8px 12px;
}